[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.UIGeneratedElements
Exec=/usr/bin/ru.template.UIGeneratedElements
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=UIGeneratedElements
ExecDBus=/usr/bin/ru.template.UIGeneratedElements
